{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django course</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
    <h1>Welcome to the course django</h1>
    <h2>Welcome to the course django</h2>
    <h3>Welcome to the course django</h3>
    <h4>Welcome to the course django</h4>
<div>
    <p>
        content in paragraph
    </p>
    <span>one line <mark>hello</mark>sentence</span>
</div>
<nav>
    <a href="#">home</a>
    <a href="#">About</a>
    <a href="#">contact</a>
    <a href="#">product</a>

</nav>
</body>
</html>